/* @juniordelonge */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #08070c;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: pointer;
    color: #0a0a0a;
    border: 2px solid #131212;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.cell:hover {
    background-color: #0099ff;
}

.cell.clicked {
    transition:
        background-color 0.5s,
        color 0.5s,
        transform 0.3s;
    transform: scale(0.99);
}

.win-cell {
    background-color: #161818 !important;
    color: #00ff6a;
}

#score,
#message,
h2 {
    margin-top: 20px;
    text-align: center;
    color: #cfcfcf;
}

h2 {
    font-size: 1em;
    padding: 10px;
}